body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.navbar {
  height: 50px;
}
.centerContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.inputWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.inputContainer {
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: solid 1px #dfe1e5;
  width: 100%;
  max-width: 650px;
}

.inputContainer input:focus {
  border: none;
  outline: none;
}

.inputContainer:hover {
  box-shadow: 0px 0px 7px rgb(204, 204, 204);
  border: solid 1px #dfe1e5;
}

.inputContainer input {
  border: none;
  flex: 1;
  padding: 0.75rem;
}

.voiceSearchWrapper {
  height: 24px;
  padding-right: 12px;
  padding-left: 7px;
  width: 24px;
}

.searchIconWrapper {
  height: 20px;
  padding-right: 7px;
  padding-left: 12px;
  width: 20px;
}

.languageWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.languages {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 650px;
}

.languages a,
p {
  font-size: small;
  padding-left: 5px;
  padding-right: 5px;
  font-family: arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.navbarWrapper {
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.navbarWrapper a {
  font-size: 13px;
  font-family: arial, sans-serif;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.navbarWrapper a:hover {
  font-size: 13px;
  font-family: arial, sans-serif;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: underline;
}

.buttonWrapper {
  padding-top: 1.5rem;
  display: flex;
  padding-bottom: 1.5rem;
}

.buttonWrapper #searchButton {
  background-color: #f8f9fa;
  color: #3c4043;
  padding: 0.75rem;
  margin-right: 0.5rem;
  outline: none;
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #222;
  border-radius: 3px;
  border: solid 1px transparent;
  cursor: pointer;
}

.buttonWrapper #feelingLuckyButton {
  background-color: #f8f9fa;
  color: #3c4043;
  border: solid 1px transparent;
  margin-left: 0.5rem;
  cursor: pointer;
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #222;
  border-radius: 3px;
  padding: 0.75rem;
  outline: none;
}

#searchButton:hover {
  border: solid 1px #dadce0;
  box-shadow: 0px 1px 2px rgb(221, 221, 221);
}

#feelingLuckyButton:hover {
  border: solid 1px #dadce0;
  box-shadow: 0px 1px 2px rgb(221, 221, 221);
}

.languageWrapper a {
  text-decoration: none;
}

.languageWrapper a:hover {
  text-decoration: underline;
}

.navbarWrapper a:hover {
  color: black;
}

.navbarWrapper a:visited {
  color: black;
}

.more {
  border-radius: 50%;
  padding: 5px;
  height: 24px;
  width: 24px;
}

.more:hover {
  background-color: #f0f0f0;
}

.account {
  width: 40px;
  height: 40px;
  background-color: aquamarine;
}

.account img {
  width: 40px;
  height: 40px;
  background-color: aqua;
}

.imageWrapper img {
  padding: 2rem;
}

.locationFooter {
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: arial, sans-serif;
  background-color: #f2f2f2;
  border-bottom: solid 1px #dadce0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}

.footer {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
  align-content: center;
  justify-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
}

.leftLinks {
  display: flex;
  font-size: 14px;
  font-family: arial, sans-serif;
}

.rightLinks {
  display: flex;
  font-size: 14px;
  font-family: arial, sans-serif;
}

.footer a {
  padding: 15px;
  color: #70757a;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
